/***** codingdictionary.com *****/
.block_container
{
    text-align:center;
}
.vote, .wordsave, .votenum
{
    display:inline;
}
.glyphicon-thumbs-down, .glyphicon-thumbs-up{
	  padding-bottom: 1px!important;
	  padding-top: 1px!important;
}

.wordsave
{
      float: right !important;
       display:inline;
}

/*** Footer ***/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
   padding-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  /* background-color: white; */
}

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}