.block_container
{
    text-align:center;
}
.vote, .wordsave, .votenum
{
    display:inline;
}
.glyphicon-thumbs-down, .glyphicon-thumbs-up{
	  padding-bottom: 1px!important;
	  padding-top: 1px!important;
}

.wordsave
{
      float: right !important;
       display:inline;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
   padding-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
