.block_container
{
    text-align:center;
}
.vote, .wordsave, .votenum
{
    display:inline;
}
.glyphicon-thumbs-down, .glyphicon-thumbs-up{
	  padding-bottom: 1px!important;
	  padding-top: 1px!important;
}

.wordsave
{
      float: right !important;
       display:inline;
}